.vulnerability-row {
  cursor: default;
}

.vulnerability-row--even {
  background-color: transparent;
}

.vulnerability-row--odd {
  background-color: rgba(255, 255, 255, 0.02);
}

.vulnerability-row:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.vulnerability-row__cell {
  padding: 1.25rem 1rem;
}

.vulnerability-row__cve {
  font-size: 0.9rem;
  color: #9b9b9b;
  cursor: pointer;
  font-weight: 600;
}

.vulnerability-row__cve:hover {
  text-decoration: underline;
  color: #fcfcfc;
}

.vulnerability-row__severity-chip {
  color: white;
  font-weight: 700;
  font-size: 0.75rem;
  min-width: 80px;
}

.vulnerability-row__cvss {
  font-size: 0.9rem;
  font-weight: 600;
}

.vulnerability-row__package {
  font-size: 0.875rem;
  font-weight: 500;
}

.vulnerability-row__text {
  font-size: 0.875rem;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vulnerability-row__status {
  font-size: 0.875rem;
  text-transform: capitalize;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
